.footer{
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
}

.footer-content{
      width: 100%;
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      gap: 80px;
}

.footer-content-left, .footer-content-right, .footer-content-center {
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 20px;
}

.footer-content-left , .footer-content-right li, .footer-content-center li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-social-icon  img{
      width: 40px;
      margin-left: 15px;
      cursor: pointer;
}

.footer hr {
    width: 100%;
    height: 2px;
    margin: 20px 0px;
    background-color: grey;
    border: none;
}

.footer-copyright{
    color: white;
}